/***** Figma start *****/
@font-face {
    font-family: 'Manrope';
    src: url(../Fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --color-text1: #000000;
    --color-text2: rgba(0, 0, 0, 0.4);
    --color-text3: #FFFFFF;
    --color-text4: #2E2E2E;
    --color-text5: #808080;
    --color-text6: #18191F;
    --background-color1: #F84646;
    --background-color2: #F4F5F7;
    --background-color3: #F8464A;
    --font-family1: 'Manrope';
    --font-family2: 'Inter';
}

/* Unversal code start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

/* Unversal code finish */
/* Mobile form start */
.container {
    max-width: 33.5rem;
    margin: 0 auto;
}

/* Header start */
header {
    background-image: url(../Imags/Rectangle\ 1.png);
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 3.5rem;
    align-items: center;
    margin-bottom: 6.6rem;
}

nav ul {
    display: none;
}

.nav_icons img {
    width: 3.2rem;
    height: 3.2rem;
    color: var(--color-text1);

}

nav button {
    padding: 1rem 2rem;
    background-color: var(--background-color1);
    border-radius: 0.5rem;
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--color-text3);
}

#header_section h1 {
    font-family: var(--font-family1);
    font-weight: 800;
    font-size: 4.2rem;
    line-height: 5.8rem;
    text-align: center;
    color: var(--color-text1);
    margin-bottom: 3.3rem;
}

#header_section p {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.3rem;
    text-align: center;
    letter-spacing: 0.02rem;
    color: var(--color-text1);
    margin-bottom: 4.3rem;
}

#header_section form input {
    background-color: var(--background-color2);
    border-radius: 0.8rem;
    padding: 1.3rem 12rem 1.8rem 2.2rem;
    border: none;
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 3.6rem;
    letter-spacing: 0.02rem;
    color: var(--color-text2);
}

#header_section button {
    position: relative;
    left: 20.5rem;
    bottom: 6rem;
    background: var(--background-color1);
    border-radius: 0.8rem;
    padding: 1.6rem 1.9rem;
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: 0.02rem;
    color: var(--color-text3);
    margin-bottom: 6.4rem;
}

/* Header finish */
/* Main start*/
#Kalite_section {
    padding: 6rem 0 9rem 0;
}

#Kalite_section h2 {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-align: center;
    color: var(--color-text1);
    margin-bottom: 1.5rem;
}

#Kalite_section p {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: center;
    letter-spacing: 0.02rem;
    color: var(--color-text1);
    margin-bottom: 4rem;

}

#Kalite_section .cards .card .main_icon img {
    width: 4.7rem;
    height: 5.7rem;
    margin-left: 13rem;
}

.card-1 {
    margin-bottom: 8.5rem;
}

.card-2 {
    margin-bottom: 8.5rem;
}

.card-3 {
    margin-bottom: 8.5rem;
}

.card-4 {
    margin-bottom: 8.5rem;
}

.card-5 {
    margin-bottom: 8.5rem;
}

.card-6 {
    margin-bottom: 8.5rem;
}

.card-1 img {
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.card-2 img {
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.card-3 img {
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.card-4 img {
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.card-5 img {
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.card-6 img {
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.card-1::before {
    content: " ";
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(199, 74, 74, 0.5);
    position: absolute;
    margin-left: 16rem;
    margin-top: -1rem;
}

.cards h3 {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-align: center;
    color: var(--color-text1);
    margin-bottom: 1rem;

}

.cards p {
    margin: 0 auto;
    width: 20rem;
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
    letter-spacing: 0.02rem;
    color: var(--color-text1);
}

.card-2::before {
    content: " ";
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(51, 25, 218, 0.5);
    position: absolute;
    margin-left: 14rem;
    margin-top: -0.7rem;
}

.card-3::before {
    content: " ";
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(55, 134, 218, 0.5);
    position: absolute;
    margin-left: 15rem;

}

.card-4::before {
    content: " ";
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(214, 27, 27, 0.5);
    position: absolute;
    margin-left: 17rem;
    margin-top: -0.3rem;
}

.card-5::before {
    content: " ";
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(227, 14, 14, 0.705);
    position: absolute;
    margin-left: 18rem;
    margin-top: -0.6rem;
}

.card-6::before {
    content: " ";
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(200, 203, 19, 0.5);
    position: absolute;
    margin-left: 16rem;
    margin-top: -1rem;
}

#Test_section {
    background-image: url(../Imags/1.png);
    background-size: cover;
    margin-top: -10rem;
    padding: 5rem 0 8.4rem 0;
    text-align: center;
}

#Test_section h3 {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 4.7rem;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: var(--color-text3);
    margin-bottom: 0.9rem;
}

#Test_section h5 {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 3.2rem;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: var(--color-text3);
    margin-bottom: 5.5rem;

}

#Test_section .texts h4 {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: var(--color-text3);

}

#Test_section .texts h4 {
    width: 18.7rem;
    margin: 0 auto;
    margin-bottom: 4.45rem;
}

#Test_section .texts .test_icon {
    margin-bottom: 4.45rem;

}
#Text_section {
    padding: 9rem 0 8rem 0;
    text-align: center;
}
#Text_section .blok img {
    width: 31.5rem;
    height: 31.2rem;
    margin-bottom: 3rem;

}
#Text_section .blok h3 {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.2rem;
    text-align: center;
    color: var(--color-text4);
    margin-bottom: 2rem;
}

#Text_section .blok p {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: center;
    color: var(--color-text5);
    margin-bottom: 4rem;
}

#Text_section .blok button {
    background: var(--background-color3);
    border-radius: 0.8rem;
    padding: 1.2rem 14.7rem;
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text3);
    margin-bottom: 6rem;
}

#Border_section {
    background-color: var(--background-color2);
    padding: 4rem 0;
}

#Border_section h2 {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.2rem;
    text-align: center;
    color: var(--color-text1);
    margin-bottom: 1.4rem;
}

#Border_section p {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: var(--color-text6);
    margin-bottom: 4rem;
}

.box1 {
    width: 13.4rem;
    background: var(--color-text3);
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 1.6rem;
    padding: 1.5rem 1.8rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    cursor: pointer;
}

#Contact_section {
    padding: 9rem 0 8.2rem 0;
    text-align: center;
}

#Contact_section .contact_icon a img {
    width: 9rem;
    height: 9rem;
    margin-bottom: 4rem;
}

.contact_icon::before {
    content: "";
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(234, 16, 16, 0.5);
    position: absolute;
    margin-left: 60px;
    margin-top: 0.7rem;
}

#Contact_section h2 {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 3.2rem;
    text-align: center;
    color: var(--color-text1);
    margin-bottom: 1.2rem;
}

#Contact_section p {
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--color-text1);
    margin-bottom: 2rem;
}

#Contact_section button {
    background: var(--background-color3);
    border-radius: 0.8rem;
    padding: 1.1rem 2.05rem;
    font-family: var(--font-family1);
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--background-color2);
}

/* Main finish*/
/* Footer start*/
footer {
    background-color: var(--background-color1);
    padding: 8rem 7.7rem;
}

.text-1 h4 {
    font-family: var(--font-family2);
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-text3);
    margin-bottom: 2.4rem;
}

.text-1 ul {
    margin-bottom: 5rem;

}

.text-1 ul li {
    margin-bottom: 2.4rem;
}

.text-1 ul li a {
    font-family: var(--font-family2);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: var(--color-text3);

}

.footer_icons {
    display: flex;
    justify-content: space-between;
}

.footer_icons a img {
    width: 3.2rem;
    height: 3.2rem;
}

.footer_icons a i {
    font-size: 3.2rem;
    color: var(--color-text3);
    margin-bottom: 6.2rem;

}

.footer_text p {
    font-family: var(--font-family2);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: var(--color-text3);
}
/* Footer finish*/
/* Mobile form finish */
/* Tabel start */
@media screen  and (min-width:640px) and (max-width:1240px){
    .container{
    width: 96%;
    margin: 0 auto;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
        gap: 4rem;
    }
    .nav_icons img {
        display: none;
    }

    
}
/* Tabel finish */
/* Desktop start */
@media screen and (min-width:1240px) {
    .container{
        width: 96%;
    }
    nav{
        gap: 4rem;
    }
    nav ul{
        display: flex;
    }
    .nav_icons img{
        display: none;
    }
}
/* Desktop finish */

/***** Figma finish *****/